@{
    ViewData["Title"] = "Produits";
}
@model gestion_devis.Models.Product

@using (Html.BeginForm("Create", "Product", FormMethod.Post))
{
    <div class="form-group">
        <label asp-for="Name">Nom :</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description :</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price">Prix :</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
}